# Visual Studio cache/options
.vs/

# Ignorar archivos compilados
*.class

# Ignorar carpetas de compilación
/bin

# Ignorar archivos de configuración de Vs code
.vscode/

# Executables
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o
x64/
Gestion\ de\ rutas/

# Configuración de visual studio
*.vsxproj
*.filters
*.user

